.contenedor {
	width: 95%;
	height: 600px;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #00115d;
	border-radius: 10px;
	background-image: radial-gradient(circle at 10% 10%, #30005d, #00b4bd);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#actions
{
	width: 5%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 0 2px;
}
.action
{
	width: 90%;
	height: 45px;
	border-radius: 5px;
	background-color: #30005d89;
	margin: 2px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.action:hover
{
	background-color: rgba(255, 255, 255, 0.4);
}
#visor
{
	width: 66%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 0 2px;
}
#visor-if
{
	overflow: scroll;
}
#options
{
	width: 25%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 0 2px;
}
#options > *
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.panel-hidden
{
	display: none !important;
}

h4, p {
	margin: 5px;
}

li {
	display: inline;
}

#left, #center, #right, #bold, #underline, #italic {
	margin: 10px;
	font-size: 1.4em;
}

#nuevoTexto {
	font-size: 1.1em;
	border-radius: 4px;
	border: 0.5px solid #0023bd;
	margin-top: 5px;
	padding: 5px;
}

#nuevoAncho, #nuevoAlto {
	font-size: 1em;
	border-radius: 4px;
	border: 0.5px solid #0023bd;
	margin-top: 5px;
	padding: 5px;
	max-width: 80px;
}

.selec-img {
	border-radius: 10px;
	border: 3px dashed #838383;
	display: grid;
	width: 90%;
	place-content: center;
	padding: 2rem;
	box-sizing: border-box;
	display: grid;
	place-items: center;
	text-align: center;
}

.selec-img .icon {
	font-size: 60px;
	color: #0023bd;
}

.selec-img label {
	background: #0023bd;
	padding: 0.3rem 1rem;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}