<!DOCTYPE html>
<html>
    <head >
        <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8" />
        <link rel="stylesheet" type="text/css" href="estilos.css"/>
        <title>Un sitio creado en fantasi</title>
    </head>
    <body>
        <header class="cabecera">
            <h1>Mi sitio personal</h1>
            <p>El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja. 1234567890</p>
            <img class="round-img" src="./resources/user.png" alt="client photo">
        </header>
        <div>
            <img class="panoramica" src="./resources/panoramica.jpg" alt="client photo">
        </div>
        <div class="tarjetas-horizontales">
            <ul>
                <li>
                    <strong>Mis gustos</strong><br></br>
                    El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja.
                </li>
                <li></li>
                <li>
                    <strong>Curriculum</strong><br></br>
                    El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja.
                </li>
                <li></li>
                <li>
                    <strong>Redes sociales</strong><br></br>
                    El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja.
                </li>
                <li></li>
                <li>
                <strong>Sobre mi</strong><br></br>
                    El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja.
                </li>
            </ul>
        </div>
        <div class="tarjeta">
            <h3>Un tema interesante</h3>
            <p>El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja. 1234567890 El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja. 1234567890 El veloz murciélago hindú comía feliz cardillo y kiwi. La cigüeña toca el saxofón detrás del palenque de paja. 1234567890</p>

        </div>
    </body>
</html>