<!DOCTYPE html lang="es">
<html>
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8" />
		<link rel="stylesheet" type="text/css" href="estilos.css"/>
		<title>Un sitio creado en fantasi</title>
	</head>
	<body>
		<div class="menu">
			<ul>
				<li class="edit-text">Inicio</li>
				<li class="edit-text">Nuevos episodios</li>
				<li class="edit-text">Categorías</li>
				<li class="edit-text">Acerca de</li>
			</ul>
		</div>
		<div class="flexsearch">
			<div class="flexsearch--wrapper">
				<form class="flexsearch--form" action="#" method="post">
					<div class="flexsearch--input-wrapper">
						<input class="flexsearch--input" type="search" placeholder="Buscar episodio / título">
					</div>
					<input class="flexsearch--submit" type="submit" value="&#10140;"/>
				</form>
			</div>
		</div>
		<div>
			<img class="edit-image music_bg" src="./resources/music_bg.jpg" alt="music background image">
			<h2 class="edit-text">Escucha ahora {play icon}</h2>
		</div>
		<div>
			<h3 class="edit-text">Episodios recientes</h3>
			<ul>
				<li class="episodio edit-text">Capítulo interesante 1</li>
				<li class="episodio edit-text">Capítulo interesante 2</li>
				<li class="episodio edit-text">Capítulo interesante 3</li>
				<li class="episodio edit-text">Capítulo interesante 4</li>
				<li class="episodio edit-text">Capítulo interesante 5</li>
				<li class="episodio edit-text">Capítulo interesante 6</li>
			</ul>
		</div>
		<!-- Scripts de eventos de cada elemento modificable -->
		<!--<script src="./index.js"></script>-->
	</body>
</html>